### Project ##
!**/src/main/**
!**/src/test/**

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
.flattened-pom.xml
dependency-reduced-pom.xml

### IntelliJ IDEA ###
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
../distributedSystems/.idea/
*.iws
*.iml
*.ipr

### Scala SBT
.bsp
.env

### log files ###
*.log
hs_err_pid*

**/src/main/resources/application.properties
